
@{
    ViewBag.Title = "Download";
    Layout = "~/Views/Shared/Main_View.cshtml";
}

<div class="bradcam_area">

    <div class="bradcam_inner bradcam_bg_4 d-flex align-items-center">

        <div class="container">

            <div class="row">

                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Formularze do pobrania</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br /><br />
<h2 class="container" style="font-family: Poppins, sans-serif;font-size:25px">

    <div class="col-lg-8">

        <a href="~/Download/dane_do_czynnosci_notarialnej_strona_nabywajaca.doc">Dane do czynności notarialnej (strona nabywająca)</a>
        <br />
        <a href="~/Download/dane_do_czynnosci_notarialnej_strona_zbywajaca.doc">Dane do czynności notarialnej (strona zbywająca)</a>
        <br />
        <a href="~/Download/dane_do_testamentu.doc">Dane do testamentu</a>
        <br />
    </div>
</h2>
<br /><br />
<h2 class="container" style="font-family: Poppins, sans-serif;font-size:15px;color:grey">
    <div class="col-lg-6">
        **Dla łatwiejszej i szybszej współpracy przygotowaliśmy dla Państwa listę dokumentów i informacji potrzebnych do sporządzenia konkretnej czynności notarialnej. Prosimy przed przyjściem do kancelarii o wypełnienie dokumentu co usprawni proces czynności. W razie jakichkolwiek wątpliwości prosimy o kontakt telefoniczny.
    </div>

</h2>
<br />
<br /><br />
