<div class="slider_area ">
    <div class="slider_area_inner slider_bg_1 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-7">
                    <div class="single_slider">
                        <div class="slider_text">
                            <h3>
                                <center>Kancelaria notarialna<br></center>
                                <center>Jan Kowalski</center>

                            </h3>
                            <br />
                            <p><img src="~/Content/img/about/zdjecie.png" alt=""></p>
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about_area">
    <div class="opacity_icon d-none d-lg-block">
        <i class="flaticon-balance"></i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-6">
                <div class="single_about_info text-center">
                    <div class="image_hover">

                    </div>

                    <p>


                    </p>
                    <div class="signature">
                        <img src="~/Content/img/about/orel2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6">
                <div class="single_about_info text-center">
                    <div class="about_thumb">
                        <div class="image_hover">
                            <div class="hover_inner" style="font-size:30px; color:white">
                                <h2>93%</h2>
                                Zadowolonych klientów
                            </div>
                        </div>
                    </div>
                    <h3>O nas</h3>
                    <p>
                        Kancelaria rozpoczęła działalność w 1970r. Gwarantujemy najwyższą jakość świadczonych usług.
                        Współpracujemy z wieloma stałymi klientami, którzy stanowią większe lub mniejsze firmy.
                        Nasze czynności notarialne przeprowadzamy w kancelarii, lecz w szczególnych przypadkach jest możliwość dojazdu do klienta.
                    </p>
                    <div class="total_cases">
                        <div class="single_cases">
                            <h4>879</h4>
                            <p>Przeprowadzonych czynności w ubiegłym roku</p>
                        </div>
                        <div class="single_cases">
                            <h4>32</h4>
                            <p>Liczba stałych klientów</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="practice_area">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-60">
                    <div class="single_about_info text-center" style="font-size:35px">
                        W czym się specjalizujemy:
                    </div>

                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-xl-3 col-md-6">
                <div class="single_practice">
                    <div class="practice_image">
                        <<img src="~/Content/img/practice/1.png" alt="">
                    </div>
                    <div class="practice_hover text-center">
                        <div class="hover_inner">
                            <i class="flaticon-case"></i>
                            <h3>Sprawy spadkowe</h3>
                            <p>
                                Testament<br>
                                Zapisy windykacyjne<br>
                                Poświadczenie dziedziczenia<br>
                                Odrzuanie spadku
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="single_practice">
                    <div class="practice_image">
                        <<img src="~/Content/img/practice/2.png" alt="">
                    </div>
                    <div class="practice_hover text-center">
                        <div class="hover_inner">
                            <i class="flaticon-courthouse"></i>
                            <h3>Sprzedaż mieszkań</h3>
                            <p>
                                Nieruchomość gruntowa<br>
                                Samodzielny lokal<br>
                                Spółdzielcze własnościowe prawo do lokalu
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="single_practice">
                    <div class="practice_image">
                        <<img src="~/Content/img/practice/3.png" alt="">
                    </div>
                    <div class="practice_hover text-center">
                        <div class="hover_inner">
                            <i class="flaticon-judge"></i>
                            <h3>Obsługa spółek</h3>
                            <p>
                                Założenie<br>
                                Zmiana umowy spółki<br>
                                Podwyższenie lub obniżenie wkładów lub kapitału zakładowego<br>
                                Przekształcenie spółki<br>
                                Rozwiązanie spółki<br>
                                Uchwały zarządu
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="single_practice">
                    <div class="practice_image">
                        <<img src="~/Content/img/practice/4.png" alt="">
                    </div>
                    <div class="practice_hover text-center">
                        <div class="hover_inner">
                            <i class="flaticon-jury"></i>
                            <h3>Oświadczenia o poddaniu się egzekucji</h3>
                            <p>
                                Oświadczenie o poddaniu się egzekucji
                                na podstawie umowy z której wynika obowiązek poddania się egzekucji
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="our_loyers">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-60" style="font-size:35px">
                    Nasi Notariusze
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_loyers text-center">
                    <div class="thumb">
                        <img src="~/Content/img/lawyers/1.png" alt="">
                    </div>
                    <h3 style="font-family: Poppins, sans-serif;font-weight:500">Jan Kowalski</h3>
         
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_loyers text-center">
                    <div class="thumb">
                        <img src="~/Content/img/lawyers/2.png" alt="">
                    </div>
                    <h3 style="font-family: Poppins, sans-serif;font-weight:500">Kamil Jakubiak</h3>
              
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_loyers text-center">
                    <div class="thumb">
                        <img src="~/Content/img/lawyers/3.png" alt="">
                    </div>
                    <h3 style="font-family: Poppins;font-weight:500">Stefan Jeziorski</h3>
               
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testmonial_area testmonial_bg_1 overlay2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_testmonial text-center">
                        <i class="flaticon-straight-quotes"></i>
                        <p>
                            Art. 2. § 2. Czynności notarialne, dokonane przez notariusza zgodnie z prawem,<br /> mają
                            charakter dokumentu urzędowego.
                        </p>
                        <div class="author_info d-flex justify-content-center align-items-center">

                            <span>- Prawo o notariacie</span>
                        </div>
                    </div>
                    <div class="single_testmonial text-center">
                        <i class="flaticon-straight-quotes"></i>
                        <p>
                            Art. 1. § 1. Notariusz jest powołany do dokonywania czynności, którym strony<br />
                            są obowiązane lub pragną nadać formę notarialną (czynności notarialnych).
                        </p>
                        <div class="author_info d-flex justify-content-center align-items-center">

                            <span>- Prawo o notariacie</span>
                        </div>
                    </div>
                    <div class="single_testmonial text-center">
                        <i class="flaticon-straight-quotes"></i>
                        <p>
                            Art. 2. § 1. Notariusz w zakresie swoich uprawnień, o których mowa w art. 1,
                            działa<br /> jako osoba zaufania publicznego,<br /> korzystając z ochrony przysługującej
                            funkcjonariuszom publicznym.

                        </p>
                        <div class="author_info d-flex justify-content-center align-items-center">

                            <span>- Prawo o notariacie</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
